@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    font: normal 100%/1.5 sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

.nav{

}

.nav-check:checked ~ .nav {
	display: block;
}

.nav-check {
	position: absolute;
	top: -3em;
}

.nav-check:checked ~ .nav-label {
	background-color: grey;
}

a:focus {
	outline: 3px solid black;
}

.billboard {
	width: 100%;
}

.intro {
	position: relative;
}

.toggle-ab {
	position: absolute;
}

.toggle-rel {
	position: relative;
}

.toggle-img {
	width: 50px;
	height: 50px;
	margin-left: 25px;
}

.billboard-text {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
	margin: 0 auto;
}

.list-group {
  	padding-left: 0;
  	list-style-type: none;
	margin-left: 10px;
	padding: 1em;
}

.list-group > li > a {
	text-decoration: none;
	color: black;
	font-size: 16px;
}

.list-group > li {
	padding: 0.5em;
	padding-left: 0;
}

.list-group-inline > li {
  display: inline-block;
}

.down-arrow {
	height: 50px;
	width: 50px;
	margin: 0 auto;
}

.about {
	padding-top: 4em;
	padding-bottom: 4em;
	padding-left: 2em;
	padding-right: 2em;
	background-color: grey;
}

.about-para {
	text-align: center;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

footer {
	margin: 2em;
}

footer > h2 {
	text-align: center;
}

.mail {
	text-align: center;
}

.mail > a {
	text-decoration: none;
	color: black;
}

.media-links {
	text-align: center;
}

.media-links > a {
  width: 50px;
	padding-top: 1em;
	margin: 0.2em;
	display: inline-block;
}

.top-arrow {
	height: 50px;
	width: 50px;
	margin: 0 auto;
	margin-bottom: 0.5em;
}

.copyright {
	text-align: center;
}

.work-nav {
	text-align: center;
}

.arrow-btn {
	width: 40%;
	margin-top: 0.5em;
	display: inline-block;
}

.home-btn {
	display: inline-block;
	text-decoration: none;
	color: black;
	margin-top: 0.5em;
}

.project {
	padding-top: 4em;
	padding-bottom: 4em;
	padding-left: 2em;
	padding-right: 2em;
	background-color: grey;
}

.tem-project-text {
	text-align: center;
}

@media only screen and (min-width: 25em) {
	
	.arrow-btn {
		width: 30%;
	}
	
	.about-para {
		margin-left: 2em;
		margin-right: 2em;
	}
	
	.tem-project-text {
		margin-left: 2em;
		margin-right: 2em;
	}
	
}

@media only screen and (min-width: 38em) {
	
	.arrow-btn {
		width: 20%;
	}
		
	.about-para {
		margin-left: 6em;
		margin-right: 6em;
	}
	
	.tem-project-text {
		margin-left: 6em;
		margin-right: 6em;
	}
	
}

@media only screen and (min-width: 60em) {
	
	.arrow-btn {
		width: 10%;
	}
	
		.about-para {
		margin-left: 16em;
		margin-right: 16em;
	}
	
	.tem-project-text {
		margin-left: 16em;
		margin-right: 16em;
	}
	
}