---
permalink: 404.html
---

<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Devon Ash{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.meta}}">
  
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>

  <body class="notfound">
      <h1 class="aw-man">Aw Man.</h1>
      <a class="try-again" href="http://devonash.ca">
        <p>Try Again?</p>
      </a> 
  </body>
</html>