<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Devon Ash{% if page.titleAfter %} · {{page.titleAfter}}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.meta}}">
  
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
  <link href="img/favicon.ico" rel="shortcut icon">
  
  <!-- Open Graph Protocol used by Facebook, Pinterest, Google+ -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="Devon Ash · Creative, graphic designer — Ottawa, Canada">
  <meta property="og:url" content="http://devonash.github.io/portfolio/">
  <meta property="og:image" content="Url to banner image (coming soon)">
  <meta property="og:site_name" content="devonash">
  <meta property="og:description" content="A visual communicator, idea creator and Youtube fanatic.">
  
  <!-- Open Graph Protocol used by Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Devon Ash · Creative, graphic designer — Ottawa, Canada">
  <meta name="twitter:url" content="http://devonash.github.io/portfolio/">
  <meta name="twitter:description" content="A visual communicator, idea creator and Youtube fanatic.">
  <meta name="twitter:image" content="Url to banner image (coming soon)">
</head>
<body>
  
	<ul class="skip-links">
		<li><a href="nav">Skip to navigation</a></li>
		<li><a href="main">Skip to main content</a></li>
	</ul>
  
  <main>
    {{content}}
  </main>
	
	<footer id="contact" role="contentinfo">
		<h2 class="push-0">Let's Connect!</h2>
		
		<div class="media-links">
      <a class="behance" href="https://www.behance.net/devonash" aria-label="Go to Devon Ash's Behance" rel="external">
        <img src="{{site.baseurl}}/img/socialmedia-icons-behance.svg" alt="Behance Icon">
      </a>
      <a class="linkedin" href="https://www.linkedin.com/in/devon-ash-929b27b1?trk=hp-identity-name" aria-label="Go to Devon Ash's Linkedin" rel="external">
        <img src="{{site.baseurl}}/img/socialmedia-icons-linkedin.svg" alt="Linkedin Icon">
      </a>
      <a class="vimeo" href="https://vimeo.com/user36545751" aria-label="Go to Devon Ash's Vimeo" rel="external">
        <img src="{{site.baseurl}}/img/socialmedia-icons-vimeo.svg" alt="Vimeo Icon">
      </a>
      <a class="email" href="mailto:hey@devonash.ca">
        <img src="{{site.baseurl}}/img/socialmedia-icons-mail.svg" alt="E-mail Icon">
      </a>
    </div>
		<a href="#top" aria-label="Go back to the top of the page"><img class="top-arrow" src="{{site.baseurl}}/img/up-arrow.svg" alt="Up Arrow"></a>
		<p class="copyright micro">Copyright © 2015 Devon Ash</p>
	</footer>

</body>
</html>