<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Devon Ash</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  
	<ul class="skip-links">
		<li><a href="nav">Skip to navigation</a></li>
		<li><a href="main">Skip to main content</a></li>
	</ul>
  
  <main>
    {{content}}
  </main>
	
	<footer id="contact" role="contentinfo">
		<h2>Let's Connect!</h2>
		<div class="mail">
			<a class="tera" href="mailto:http://devonash.ca/">hey@devonash.ca</a>
		</div>
		<div class="media-links">
        	<a href="https://www.behance.net/devonash" aria-label="Go to Devon Ash's Behance">
            	<img src="{{site.baseurl}}/img/socialmedia-icons-behance.svg" alt="Behance Icon">
            </a>
            <a href="https://www.linkedin.com/profile/preview?locale=en_US%20trk=prof-0-sb-preview-primary-button" aria-label="Go to Devon Ash's Linkedin">
            	<img src="{{site.baseurl}}/img/socialmedia-icons-linkedin.svg" alt="Linkedin Icon">
            </a>
            <a href="https://vimeo.com/user36545751" aria-label="Go to Devon Ash's Vimeo">
            	<img src="{{site.baseurl}}/img/socialmedia-icons-vimeo.svg" alt="Vimeo Icon">
            </a>
        </div>
		<a href="#top" aria-label="Go back to the top of the page"><img class="top-arrow" src="{{site.baseurl}}/img/up-arrow.svg" alt="Up Arrow"></a>
		<p class="copyright micro">Copyright © 2016 Devon Ash</p>
	</footer>

</body>
</html>