---
layout: default
---

    <header class="header" role="navigation" id="top">
		
      <nav class="work-nav" id="nav">
        <div class="grid">
        <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3">
        <a href="{{site.baseurl}}/portfolio-pieces/{{page.prev-piece}}" class="arrow-btn" aria-label="See the project before this one">
          <img src="{{site.baseurl}}/img/left-arrow.svg" alt="Left Arrow">
        </a>
        </div>
        <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3">
        <a href="{{site.baseurl}}/" class="home-btn" aria-label="Go to the homepage" rel="home">
          <img src="/img/devonash-wordmark-web.svg" alt="Home Page">
        </a>
        </div>
        <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3">
        <a href="{{site.baseurl}}/portfolio-pieces/{{page.next-piece}}" class="arrow-btn" aria-label="See the next project">
          <img src="{{site.baseurl}}/img/right-arrow.svg" alt="Right Arrow">
        </a>
        </div>
        </div>
      </nav>

    </header>
    
    <main itemscope itemtype="http://schema.org"/CreativeWork role="main" id="main">
      <div class="grid">
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3" id="portfolio">
          <img itemprop="image" src="{{site.baseurl}}/img/{{page.img1}}" alt="View 1 of Project">
        </div>
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
          <img itemprop="image" src="{{site.baseurl}}/img/{{page.img2}}" alt="View 2 of Project">
        </div>
        <div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
          <img itemprop="image" src="{{site.baseurl}}/img/{{page.img3}}" alt="View 3 of Project">
        </div>
        <div class="project unit unit-s-1 unit-m-1 unit-l-1" id="project">
          <div class="tem-project-text">
            <h2 itemprop="name">{{page.title}}</h2>
            <h3 class="typeof-project" itemprop="genre" class="giga">{{page.type}}</h3>
            <p itemprop="description">{{page.description}}</p>
          </div>
        </div>
      </div>
    </main>